// START CONTACT STYLE 
.contact-section{
    margin: auto ;

form {
margin-top:40px;
.inh{
    padding:30px;
    text-align:center;
    
}
border-radius: 35px;
background-color: #00000021;
text-align: center;
width: 40%;
margin: auto ;
.form-control{
    width:50%;
    margin: auto ;

}

}
}
// END CONTACT STYLE 