@import url('<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap" rel="stylesheet">');
// var
$primary-color:rgb(41, 40, 40);
$primary-logo:rgb(54, 199, 204);
$overlaycolor:#302e2eb6;
// $menu-color:#fff;


*{
    text-align: center;
    margin: 0;
    padding: 0;
}
