@import url('<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap" rel="stylesheet">');
// var
$primary-color:rgb(41, 40, 40);
$primary-logo:rgb(54, 199, 204);
$overlaycolor:#302e2eb6;
// $menu-color:#fff;
*{
    text-align: center;
    margin: 0;
    padding: 0;
}
@mixin title ($font-size){
    color:$primary-logo;
    font-size: $font-size;
    font-family: 'Lobster',cursive;
}
@mixin sub_title($fontsize ){
    // text-transform: uppercase;
    font-family:'heebo' ;
    // font-size: 40 px;
    padding:50px 100px;
}
// header area
a{
    text-decoration: none;
    &:hover{
        // color:yellow ;
        text-decoration: none;
    }
}
// START HEADER STYLE
header{
    .logo{
        color:$primary-logo;
        font-size:30px;
        font-family: 'lobster',cursive;
    }
    background-color: $primary-color;
    .menu{
        padding-top: 10px;
        text-align:left;
        li{
            list-style: none;
            display:inline-block;
            padding: 5px;
            a{
                color:$primary-logo;
                padding:0 10 px;
                transition: 0.5s;
                -webkit-transition: 0.5s;
                -moz-transition: 0.5s;
                -ms-transition: 0.5s;
                -o-transition: 0.5s;
                &:hover{
                    color: rgb(223, 236, 44);        
                }
            }
        }
    }
}
// END HEADER STYLE

// START MAIN CONTENT STYLE 
.main-content{
    background-image: url(../img/office2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 100% 50%;
    .main-content-wraper{
        position: absolute;
        text-align: center;
        text-align: justify; 
        margin-top: 17%;
        left: 49%;
        // top: 65%;
        transform: translate(-50%, -50%);
        -webkit-transition: translate(-50%, -50%);
        -moz-transition: translate(-50%, -50%);
        -ms-transition: translate(-50%, -50%);
        -o-transition: translate(-50%, -50%);
        h1{
            text-align: center;
            text-align: justify; 
            color: #333232;
            font-family: 'lobster',cursive;
        }
    }
}
// END MAIN CONTENT STYLE 

// START PORTOFOLIO STYLE 
.portofolio {
    .portofolio-title{
        h1{
            @include title(40px);
        }
        p{
            @include sub_title(1000px);
        }
    }
    .portofolio-content{
        .portofolio-imgs{
            // text-align: center;
            .overlay-relative{
                position: relative;
                overflow: hidden;
                &:hover .overlay{
                    top:30%;
                }
                img{
                    width: 100%;
                    // padding:5px;
                    margin-bottom: 10px;
                    border-radius: 20px;
                  //   height: auto%;
                }
                .overlay{
                    background-color:$overlaycolor;
                    border-radius:20px;
                    // margin-bottom: 10px;
                    // width: 300px;
                    position:absolute;
                    left: 10%;
                    top: -100%;
                    width: 80%;
                    color:white;
                    // width:100%;
                    transition: 0.5s;
                    -webkit-transition: 0.5s;
                    -moz-transition: 0.5s;
                    -ms-transition: 0.5s;
                    -o-transition: 0.5s;
                    }
            }
        }
    }
}

// END PORTOFOLIO STYLE 

// START CONTACT STYLE 
.contact-section{
            margin: auto ;

    form {
        margin-top:40px;
        .inh{
            padding:30px;
            text-align:center;
            
        }
        border-radius: 35px;
        background-color: #00000021;
        text-align: center;
        width: 40%;
        margin: auto ;
        .form-control{
            width:50%;
            margin: auto ;

        }
    
    }
}
// END CONTACT STYLE 

// START FOOTER STYLE 
.footer{

    background-color:$primary-color;
    text-align:center;
    color:white;
    height:30px;
    
}
// END FOOTER STYLE 