$body-color:rgb(0, 0, 0);
$text-color:transparent;
// $text-color:white;

body{
    background-color: $body-color;
}
*{
    margin: 0;
    padding: 0;
}
.container h1{
    font-size: 200px;
    text-align: center;
    margin-top: 100px;
    color: $text-color;
    padding:10px;
    background-image: url(../img/fire.jpg);
    background-size: cover;
    -webkit-background-clip: text;}
